.contact {
  padding-block: 10vh;
  background: var(--clr-dark);
  color: var(--clr-light);
}

.contact .btns {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact .contact-img {
  width: 60%;
  margin-top: 2rem;
}

.contact .btn {
  font-size: 1.2rem;
}

iframe {
  width: 100%;
  border: 0;
  border-radius: 1rem;
  margin-bottom: 2rem;
  opacity: 0.6;
}
