* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  font-family: var(--ff-primary);
}

:root {
  --clr-dark: black;
  --clr-light: white;
  --clr-gray: #fffdfa;

  --fs-400: 1rem;
  --fs-500: 2rem;
  --fs-600: 2.4rem;

  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Playfair", serif;

  --pd-x: 2rem;
}

a,
ul {
  color: inherit;
  text-decoration: none;
  list-style: none;
}
